*{
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li,
dl {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}
a:hover {
    text-decoration: none;
    color: inherit;
}

p {
    margin: 0;
    padding: 0;
}

body{
    background-color: #e3ddfc;
}

.student__title{
    margin: 3% 0;
    text-align: center;
}

.student__items{
    font-size: 24px;
    margin: 0 10%;
}

.student__item{
    padding: 10px 0;
}


a:hover {
    color: #867caf;
}

.form{
    border: 1px solid #9893ad;
    border-radius: 10px;
    max-width: 600px;
    font-size: 20px;
    margin: 20px 0;
    padding: 10px;
}

.form input{
    margin: 10px;
}

.form__btn{
    background-color: #afa3db;
    border: 1px solid #9893ad;
    border-radius: 10px;
    font-size: 16px;
    padding: 5px;
    margin: 5px;
}
.form__btn:hover{
    background-color: #d3c9f7;
}

.form__input{
    width: 300px;
    padding: 7px;
    background: inherit;
    border: 3px solid #9893ad;
    background-color: #d3c9f7;
    border-radius: 20px;
    margin: 5px;
}

.details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.details__img{
    max-width: 400px;
}